<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
	
	<%= f.label :name, "Display Name" %>
	<%= f.text_field :name %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.submit "Sign in", class:"btn btn-large btn-primary signup" %>

<% end %>

<p>Or create a <%= link_to "new account", signup_path %></p>